*.DS_Store
*.vscode
*.__pycache__
*.pytest_cache
*.idea
SDP/SDP_TAHAP2/PEMBINAAN/Giatja/2.Pemasaran/Fungsional/OpPemasaran/archive/
SDP/SDP_TAHAP2/Giatja/1.KegiatanKerja/Fungsional/OpGiatja/archive/
SDP/SDP_TAHAP2/PEMBINAAN/Giatja/1.KegiatanKerja/Fungsional/reportresult/archive/
SDP/SDP_TAHAP2/PEMBINAAN/KETERAMPILAN/Fungsional/semua/archive/
